@import "imports/normalize";
@import "imports/fonts";
@import "imports/imports";

/**********
* VARIABLES
***********/

/**********
* GENERAL
***********/
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    &.wf-active {
        .sk-font-loader {
            display: none;
        }

        .sk-intro-content-wrap {
            @include opacity(1);
            @include transition(opacity $transitionTime $transitionEasing);
        }
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyFontFamily;
    .sk-intro-content-wrap {
        @include opacity(0);
    }
}
p {
    margin: 0;
    padding: 0;
}

a,
a:link,
a:hover,
a:visited,
a:focus,
a:active {
    text-decoration: none;
    color: $linkColorLight;
}
a:hover {
    text-decoration: underline;
}

ul,
ol {
    margin: 0;
    padding: 0;

}

/**********
* BASE CLASSES
***********/
.sk-content-wrap {
    height: 100%;
}
$loaderSize: $gridHeight;
$loaderAnimationTime: 1s;

.sk-font-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: $loaderSize*4;
    height: $loaderSize;
    margin-left: -$loaderSize*2;
    margin-top: $loaderSize/2;
}

.sk-font-loader-1,
.sk-font-loader-2,
.sk-font-loader-3 {
    position: absolute;

    width: $loaderSize;
    height: $loaderSize;

    @include border-radius(50%);
    background-color: $secondaryColor;


    @include animation-duration($loaderAnimationTime);
    @include animation-iteration-count(infinite);
    @include animation-name(pulse);
    @include transform(scale3d(1,1,1));
}

.sk-font-loader-1 {
    left: 0;
}
.sk-font-loader-2 {
    left: 50%;
    margin-left: -$loaderSize/2;
    @include animation-delay($loaderAnimationTime/6);
}
.sk-font-loader-3 {
    right: 0;
    @include animation-delay($loaderAnimationTime/3);
}

@include keyframes(pulse) {
    0% {
        @include transform(scale3d(1,1,1));
    }

    33% {
        @include transform(scale3d(.5,.5,.5));
    }

    50% {
        @include transform(scale3d(.5,.5,.5));
    }

    83.33% {
        @include transform(scale3d(1,1,1));
    }

    100% {
        @include transform(scale3d(1,1,1));
    }
}
.sk-hr {
    border: 1px solid rgba(255,255,255,.3);
    height: 4px;
    border-width: 1px 0;
}