@import "imports/imports";

/**********
* VARIABLES
***********/

/**********
* INTRO
***********/
#sk-intro {
    height: 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center center;
    position: relative;

    &:before {
        content: ' ';
        @include background-image(radial-gradient(circle, rgba(0,0,0,0.75) 0%, rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%));
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .sk-hr {
        width: 168px;
    }
}
.sk-intro-content-wrap {
    $introHeight: 316px;
    $introWidth: $maxWidth;
    width: $introWidth;
    height: $introHeight;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$introHeight/2;
    margin-left: -$introWidth/2;
}
.sk-intro-header,
.sk-intro-content {
    text-align: center;
}
.sk-intro-header {
    color: $secondaryColor;
    font-size: 38px;
    font-family: $headerFontFamily;
}
.sk-intro-content {
    font-size: 23px;
    line-height: 33px;
    font-family: "Source Sans Pro";
    color: $primaryColorLight;
}
.sk-intro-down-arrow {
    color: $secondaryColor;
    position: absolute;
    bottom: 40px;
    left: 50%;
    font-size: 25px;
    cursor: pointer;
}

@media screen and (max-width:$maxWidth) {
    .sk-intro-content-wrap {
        width: 90%;
        height: auto;
        margin: 0 5%;
        top: 0;
        left: 0;
    }
    .sk-intro-down-arrow {
        bottom: 10px;
    }
}
@media screen and (orientation:portrait) {
    #sk-intro {
        min-height: 568px;
    }
}
@media screen and (orientation:landscape) {
    #sk-intro {
        min-height: 380px;
    }
}