@import "imports/imports";

/**********
* VARIABLES
***********/

/**********
* WORK
***********/
#sk-play {
    background-image: url('css/img/play_bg.jpg');
}
.sk-expander {
    margin-bottom: $gridHeight;
}
.sk-expander-title {
    padding-left: 24px;
    margin-left: -24px;
    position: relative;
    cursor: pointer;
    &:before {
        position: absolute;
        left: 0;
        top: 3px;
    }
}
.sk-expander-content {
    height: 0;
    @include opacity(0);
    overflow: hidden;

    @include transition(opacity $transitionTime $transitionEasing $transitionTime);

    &.expanded {
        height: auto;
        @include opacity(1);
    }

    .sk-work-item-content {
        font-style: normal;
    }
}
