@import "imports/normalize";
@import "imports/compass";
@import "imports/fonts";

/**********
* VARIABLES
***********/
$baseColor: #ffffff;
$linkColor: #F7A14E;
$backgroundColor: #150318;

$gridHeight: 18px;
$gridWidth: 18px;

$transitionTime: 0.2s;
$transitionEasing: ease;

$workItemSpacing: $gridWidth*2;
$workItemBarWidth: $gridWidth/2 + 1;
$workItemBarBorderWidth: 4px;

/**********
* MIXINS
***********/
@mixin inline-block() {
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
}

/**********
* GENERAL
***********/
* {
    box-sizing: border-box;
}

html {
    &.wf-active {
        .font-loader {
            display: none;
        }

        .content-wrap {
            @include opacity(1);
        }
    }
}

body {
    margin: 0;
    padding: $gridHeight;
    font-size: $gridHeight;
    line-height: $gridHeight*3/2;
    font-family: 'Titillium Web', sans-serif;
    background-color: $backgroundColor;
    .content-wrap {
        @include opacity(0);
        @include transition(opacity $transitionTime/2 $transitionEasing);
    }
}

body {
    color: $baseColor;
}

p {
    margin: $gridHeight 0;
}

a,
a:link,
a:hover,
a:visited,
a:focus,
a:active {
    color: $linkColor;
    text-decoration: none;
    @include transition(border-bottom $transitionTime $transitionEasing);
    height: $gridHeight + 4;
}

a:hover {
    text-shadow: 0 0 4px $backgroundColor,
    0 0 4px $backgroundColor,
    0 0 4px $backgroundColor,
    0 0 4px $backgroundColor,
    0 0 4px $backgroundColor,
    0 0 4px $backgroundColor,
    0 0 5px $backgroundColor,
    0 0 5px $backgroundColor,
    0 0 5px $backgroundColor,
    0 0 5px $backgroundColor;
    @include background-image(linear-gradient(bottom,
            $backgroundColor 0%,
            $backgroundColor 6%,
            $linkColor 6%,
            $linkColor 9%,
            $backgroundColor 9%,
            $backgroundColor 100%

    ));
}

/**********
* BASE CLASSES
***********/
.main {
    font-family: "Arvo", serif;
    font-size: $gridHeight*2;
    line-height: $gridHeight*3;

    a {
        height: $gridHeight*3 - 7px;
    }
}

.heading {
    border-top: 1px solid $baseColor;
    padding-top: $gridHeight/2;
}

.main-section {
    margin-top: $gridHeight*2;
}
$loaderSize: $gridHeight;
$loaderAnimationTime: 1s;

.font-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: $loaderSize*4;
    height: $loaderSize;
    margin-left: -$loaderSize*2;
    margin-top: $loaderSize/2;
}

.font-loader-1,
.font-loader-2,
.font-loader-3 {
    position: absolute;

    width: $loaderSize;
    height: $loaderSize;

    @include border-radius(50%);
    background-color: $linkColor;


    @include animation-duration($loaderAnimationTime);
    @include animation-iteration-count(infinite);
    @include animation-name(pulse);
    @include transform(scale3d(1,1,1));
}

.font-loader-1 {
    left: 0;
}
.font-loader-2 {
    left: 50%;
    margin-left: -$loaderSize/2;
    @include animation-delay($loaderAnimationTime/6);
}
.font-loader-3 {
    right: 0;
    @include animation-delay($loaderAnimationTime/3);
}

@include keyframes(pulse) {
    0% {
        @include transform(scale3d(1,1,1));
    }

    33% {
        @include transform(scale3d(.5,.5,.5));
    }

    50% {
        @include transform(scale3d(.5,.5,.5));
    }

    83.33% {
        @include transform(scale3d(1,1,1));
    }

    100% {
        @include transform(scale3d(1,1,1));
    }
}

.content-wrap {
    @include opacity(0);
    @include transition(opacity $transitionTime/2 $transitionEasing);
}

/**********
* WORK
***********/
$timelineWidth: 4px;
#work {
}

.work-timeline {
    min-height: 400px;
    position: relative;
}

.work-item-wrap {
    margin-bottom: $workItemBarBorderWidth;
    &:nth-child(2n-1) {
        .work-item {
            text-align: right;
            padding-right: $workItemSpacing;

            &:before {
                right: $workItemBarWidth;
            }
            &:after {
                right: -$workItemBarWidth/2;
            }
        }
    }
    &:nth-child(2n) {
        .work-item {
            padding-left: $timelineWidth + $workItemSpacing;
            margin-left: 50%;

            &:before {
                left: $workItemBarWidth;
            }
            &:after {
                left: -$workItemBarWidth/2;
            }
        }
    }
}

.work-item {
    width: 50%;
    position: relative;
    @include opacity(0.25);
    @include transition(opacity $transitionTime $transitionEasing);

    &.visible {
        @include opacity(1);
    }

    &:before,
    &:after {
        content: ' ';

        position: absolute;
    }

    /* Timeline Bar */
    &:after {
        width: $workItemBarWidth;
        height: 100%;
        top: 0;

        background-color: $linkColor;
    }
    /* Leader Line */
    &:before {
        background-color: $baseColor;
        height: 1px;
        width: $workItemSpacing - $workItemBarWidth - 4;
        top: $gridHeight*3/4;
    }

    /* Proportional heights for # of years */
    @for $i from 1 through 10 {
        &.years-#{$i} {
            min-height: 30px * $i;
        }
    }
}

.work-item-description,
.work-item-time {
    font-size: $gridHeight - 4;
    font-style: italic;
}

/**********
* PLAY
***********/

.play-item {
    border-left: $workItemBarWidth solid $linkColor;
    padding-left: $gridWidth;
    margin-bottom: $gridHeight*2;
    width: 66%;
}

.play-item-description {
    font-size: $gridHeight - 4;
}