@import "imports/imports";

/**********
* VARIABLES
***********/

/**********
* WORK
***********/
#sk-work {
    background-image: url('css/img/work_bg.jpg');
}

.sk-work-wrap {
    width: $maxWidth;
    margin: 0 auto;
    position: relative;
}

a.sk-work-resume {
    position: absolute;
    top: 75px;
    right: 0;
    font-size: 12px;
    &:before {
        position: absolute;
        right: -20px;
    }
}

.sk-work-categories {
    display: table;
    width: 100%;
}

.sk-work-category {
    display: table-cell;
    width: 33%;
    padding-right: 60px;
    &:last-child {
        padding-right: 0;
    }
}

.sk-work-header {
    font-size: 23px;
    font-weight: 100;
}

.sk-work-hr {
    width: 25px;
    margin: 23px 0;
}

.sk-work-item-title,
.sk-work-item-description,
.sk-work-item-time,
.sk-work-item-content {
    font-size: 18px;
    line-height: 24px;
}

.sk-work-item-title,
.sk-work-item-description,
.sk-work-item-time {
    font-weight: bold;
}

.sk-work-item-title {
    color: $secondaryColorLight;
}

.sk-work-item-content {
    margin: 15px 0 30px;
    font-style: italic;
    color: $primaryColorLight;
}
