@font-face {
    font-family: 'sk';
    src:url('css/fonts/sk.eot?-vq36b6');
    src:url('css/fonts/sk.eot?#iefix-vq36b6') format('embedded-opentype'),
    url('css/fonts/sk.woff?-vq36b6') format('woff'),
    url('css/fonts/sk.ttf?-vq36b6') format('truetype'),
    url('css/fonts/sk.svg?-vq36b6#sk') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="sk-"]:before, [class*=" sk-"]:before {
    font-family: 'sk';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sk-in:before {
    content: "\e602";
}

.sk-beer:before {
    content: "\e601";
}

.sk-arrow-down2:before {
    content: "\ea3e";
}

.sk-bike:before {
    content: "\e600";
}

.sk-square-plus:before {
    content: "\e604";
}

.sk-square-minus:before {
    content: "\e603";
}