@font-face {
    font-family: 'shekharkhedekaricons';
    src:url('fonts/shekharkhedekaricons.eot?pxs3t1');
    src:url('fonts/shekharkhedekaricons.eot?#iefixpxs3t1') format('embedded-opentype'),
    url('fonts/shekharkhedekaricons.woff?pxs3t1') format('woff'),
    url('fonts/shekharkhedekaricons.ttf?pxs3t1') format('truetype'),
    url('fonts/shekharkhedekaricons.svg?pxs3t1#shekharkhedekaricons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'shekharkhedekaricons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: "\e601";
}
.icon-cross:before {
    content: "\e600";
}
.icon-info:before {
    content: "\e606";
}
.icon-twitter:before {
    content: "\e602";
}
.icon-facebook:before {
    content: "\e603";
}
.icon-linkedin:before {
    content: "\e604";
}
.icon-instagram:before {
    content: "\e605";
}