/**********
* VARIABLES
***********/
$primaryColor: #1a1a1a;
$primaryColorLight: #7f7f7f;
$secondaryColor: #c3c180;
$linkColor: #c3c180;
$linkColorLight: #ffffff;
$backgroundColor: white;

$maxWidth: 960px;
$gridHeight: 18px;
$gridWidth: 18px;

$transitionTime: 0.2s;
$transitionEasing: ease;

$headerFontFamily: 'Arvo', serif;
$bodyFontFamily: 'Source Sans Pro', sans-serif;
