@import "./variables.scss";

/**********
* GENERAL
***********/
* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $bodyFontFamily;
  opacity: 1;
}

p {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: $secondaryColorLight;
}
a:hover {
  text-decoration: underline;
}
a.sk-link-dark {
  &,
  &:link,
  &:hover,
  &:visited,
  &:focus,
  &:active {
    color: $linkColorLight;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/**********
* BASE CLASSES
***********/
.sk-content-wrap {
  height: 100%;
}
$loaderSize: $gridHeight;
$loaderAnimationTime: 1s;

.sk-hr {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 4px;
  border-width: 1px 0;
  margin: 23px auto;
  padding: 0;
}
.sk-hr-dark {
  @extend .sk-hr;
  border-color: rgba(0, 0, 0, 0.3);
}
.sk-main-header {
  color: $secondaryColor;
  font-size: 38px;
  font-family: $headerFontFamily;
  padding: 75px 0 60px;
  margin: 0;
}
