@import "./variables";

/**********
* WORK
***********/
.sk-expander {
  margin-bottom: $gridHeight;
}
.sk-expander-title {
  padding-left: 24px;
  margin-left: -24px;
  position: relative;
  cursor: pointer;
  &:before {
    position: absolute;
    left: 0;
    top: 3px;
  }
}
.sk-expander-content {
  overflow: hidden;
  margin: 1rem;

  transition: opacity $transitionTime $transitionEasing $transitionTime;

  &.expanded {
    height: auto;
    opacity: 1;
  }
}

@media screen and (max-width: $maxWidth) {
  .sk-play-category {
    margin-top: 2 * $gridHeight;
    &:first-child {
      margin-top: 0;
    }
  }
}
