@import "./variables";

/**********
* VARIABLES
***********/
$baseColor: #000;
$baseColorLight: #999;

$margin: 1rem;
$listNameWidth: 2rem;

/**********
* GENERAL
***********/

@page {
  size: auto;
  margin: 0;
}

@media print {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
}

.resume {
  background: white;
  color: $baseColor;
  font-family: Helvetica Neue, Helvetica, Sans-Serif;
  font-size: 10pt;
  margin: $margin;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

/**********
* STRUCTURE
***********/
.sk-resume-left-col {
  flex: 1;
  margin: 15rem 2rem 0;
}

.sk-resume-right-col {
  flex: 4;
  margin-right: 2rem;
  padding-top: 2rem;
}

@media screen and (max-width: 600px) {
  .resume {
    display: block;
    padding-bottom: 1rem;
  }

  .sk-resume-left-col {
    margin: 1rem 0;
  }
}

/**********
* COMPONENTS
***********/
.sk-resume-header {
  border: 1px solid $baseColorLight;
  border-width: 1px 0 0 0;
  color: $baseColorLight;
  font-size: 14pt;
  font-weight: 400;
  margin-bottom: 0.5em;
  padding-top: 0.25em;
}

.sk-resume-name {
  color: $baseColorLight;
  font-size: 24pt !important;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.sk-resume-section {
  display: block;
  width: 100%;
  margin-bottom: 3em;
}

.sk-resume-item-title {
  font-weight: bold;
}

.sk-resume-item-time {
  font-style: italic;
}

.sk-resume-item-description {
  margin-bottom: 0.75em;
}

.sk-resume-list-name {
  font-weight: bold;
  width: $listNameWidth;
  position: absolute;
}
.sk-resume-list-content {
  margin-left: $listNameWidth + $listNameWidth/2;
  margin-bottom: 1em;
}
