@import "./variables";

/**********
* VARIABLES
***********/

/**********
* WORK
***********/
#sk-work {
  //   background-image: url("./work_bg.jpg");
}

.sk-work-wrap {
  width: $maxWidth;
  margin: 0 auto;
  position: relative;
}

a.sk-work-resume {
  position: absolute;
  top: 75px;
  right: 0;

  &:before {
    position: absolute;
    right: -20px;
  }
}

.sk-work-categories {
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
}

.sk-work-category {
  flex: 1;
}

.sk-work-header {
  font-size: 23px;
  font-weight: 100;
}

.sk-work-hr {
  width: 25px;
  margin: 23px 0;
}

.sk-work-item-title,
.sk-work-item-description,
.sk-work-item-time,
.sk-work-item-content {
  font-size: 18px;
  line-height: 24px;
}

.sk-work-item-title,
.sk-work-item-description,
.sk-work-item-time {
  font-weight: bold;
  font-style: italic;
  color: $primaryColor;
}

.sk-work-item-title {
  font-style: normal;
  color: $secondaryColorLight;
}

.sk-work-item-content {
  margin: 1rem 0;
  font-style: italic;
  color: $primaryColorLight;
}

@media screen and (max-width: $maxWidth) {
  .sk-work-wrap {
    width: 90%;
    margin: 0 5%;
    position: relative;
  }
  .sk-work-category {
    display: block;
    width: 100%;
  }
  a.sk-work-resume {
    right: 10px;
  }
}
