<!DOCTYPE html>
<html>
<head>
    <title>Shekhar Khedekar - Resume</title>
    <meta name="keywords"
          content="Shekhar, Khedekar, Shekhar Khedekar, Interaction Design, QA Engineer, Web Development, HTML, CSS, Javascript, Mountain Biking, Road Biking, Beer Brewing, Percussion, Drum Corps, Snare Drum, Teaching, Arranging"/>
    <meta name="description" content="Shekhar Khedekar - Resume"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="css/resume.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="sk-resume-left-col">
    <div class="sk-resume-name">Shekhar Khedekar</div>
    <div class="sk-resume-contact">
        <div class="sk-resume-header">Contact</div>
        <a href="mailto:shekhar.khedekar@gmail.com" class="sk-resume-contact">shekhar.khedekar@gmail.com</a>
        <a href="tel:510.220.9106" class="sk-resume-contact">510.220.9106</a>
        <a href="http://www.linkedin.com/in/shekharkhedekar" class="sk-resume-contact" target="_blank">linkedin.com/in/shekharkhedekar</a>
        <a href="http://www.facebook.com/shekhar.khedekar" class="sk-resume-contact" target="_blank">facebook.com/shekhar.khedekar</a>
    </div>
</div>

<div class="sk-resume-right-col">
    {{#sections}}
        <div class="sk-resume-section">
            <div class="sk-resume-header">{{name}}</div>
            <div class="sk-resume-section-content">{{description}}</div>

            {{#items}}
                <div class="sk-resume-item-title">{{title}}</div>
                <div class="sk-resume-item-subtitle">{{subtitle}}</div>
                <div class="sk-resume-item-time">{{time}}</div>
                <div class="sk-resume-item-description">{{description}}</div>
            {{/items}}

            {{#lists}}
                <div class="sk-resume-list-name">{{name}}</div>
                <div class="sk-resume-list-content">{{content}}</div>
            {{/lists}}

        </div>
    {{/sections}}
</div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22232924-1']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>